

<form action="/home/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="csv_file" required>
  <input type="submit" value="등록하기">
</form><br>


<a target="_blank" href="https://docs.google.com/spreadsheets/d/1r0tzmcP8AOi8FgFacG9z4-Tj-iU6tUs1Ixy07F0-unQ/edit#gid=0">양식다운</a>에 가셔서 정해진 양식대로 기록하시고 <br>

<strong>다른이름으로 다운로드 -> 쉼표로 구분된 값(.csv 현재시트)로 저장</strong>해서 올려야합니다.<br>

game은 게임수, pb는 범타(뜬공+땅볼) 입니다. <br>

기록은 최대 25명까지 올릴 수 있습니다
