<% @picked.each do |p| %>
	<%=p.batting_order%>. <%= p.name %><br>
<% end %>

<form>
  <input type="number" name="innings" min="1" max="9" value="5"> 이닝 경기
  <button type="submit" formaction="/home/simulation">한 경기</button>
  <button type="submit" formaction="/home/average">1000회 평균</button>
</form>
